

* {
   display: flex; 
   flex-direction: column;
   margin: 0 auto;
   font-family: 'Noto Sans SC', sans-serif; 
   box-sizing: border-box;


} 


body {
    background-image: url(Images/1390294940-huge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    max-height: max-content;
    background-size:cover;
    background-attachment: fixed;
}



h1 {
    padding: top 5px;
    -webkit-text-stroke: .5px black;
    font-size: 40px;
}
.container {
    padding: 20px;
}


#place {
    padding-top: 5px;
    
}

.input-fields {
    padding: 15px;
    margin: 10px;
    color: rgb(255, 255, 255);
}



#submit-button {
    padding: 5px;
    margin-top: 10px;
    width: 60px;
    text-align: center;
    border: solid black 3px;
}

.weather-container{
    padding: 10px;
    margin: 5px;
    border: 3px;
    /* color: rgb(255, 255, 255); */
    text-align: center;
    /* -webkit-text-stroke: .5px black; */
    font-size: 25px;
    color: white;
    backdrop-filter: blur(40px);
    backdrop-filter: opacity(30%);
}



.theForm {
    padding: 5px;
}


@media screen and (max-width: 1035px) {
    .column {
      width: 75%;
    }
  }